*{
background-color:black;
color:white
}
.container{
 height:25px;
 width:90px;
 border:10px  solid #ffffff;
 padding:10px;
 text-align: center;
}

  
 



.sign{
    height:20px;
 width:200px;
 border:10px  solid yellow;
 outline:24px solid white;
 outline-style: auto;
 padding:10px;
 border-radius: 25px;
 background-color: yellow;
 color:black;
 
 
}
.github{
    height:20px;
    width:100px;
    border:10px  green;
    padding:10px;
    border-radius: 10px;
    outline:5px solid white;
    background-color: green;
    color:white;

}
.bg1{
    color:yellow;
}
.bg{
    color:green;
}
